<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE EMPRESAS</a>

</nav>

<div class="container">
    <div class="row mt-25">
        <table class="table table-borbered table-hover">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>Codigo de compra</th>
                    <th>cantidad</th>
                    <th>precio</th>
                    <th>subtotal</th>
                    <th>isv</th>
                    <th>total</th>
                    <th>estado</th>
                    <th>Eliminar</th>
                    <th>Actualizar</th>
                </tr>

            </thead>
            <tbody>

                <tr *ngFor="let User of TUser">
                    <td>{{User.iddetcomp}}</td>
                    <td>{{User.num_compra}}</td>
                    <td>{{User.cantidad}}</td>
                    <td>{{ User.precio }}</td>
                    <td>{{User.subtotal}}</td>
                    <td>{{User.isv}}</td>
                    <td>{{ User.total }}</td>
                    <td>{{User.estado}}</td>
                    <td> <button class="btn btn-danger">Eliminar</button> </td>
                    <td>
                        <button class="btn btn-success">Actualizar</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>